<% provide(:title, 'О нас') %>

<br>
<br>


<h1 align="center">ПРЕДИСЛОВИЕ АВТОРА <br> <small>о нас</small></h1>

<p>Так как шахматная задача, приведенная на предыдущей странице, поставила
в тупик некоторых читателей, мне следует,  очевидно,  объяснить,  что  она
составлена в соответствии с  правилами  -  насколько  это  касается  самих
ходов.</p>
<p class="text-info">Правда, очередность черных и белых не всегда соблюдается с надлежащей
строгостью, а "рокировка"  трех  Королев  просто  означает,  что  все  три
попадают во дворец; однако всякий, кто возьмет  на  себя  труд  расставить
фигуры и проделать указанные ходы, убедится, что "шах"  Белому  Королю  на
6-м ходу, потеря черными Коня на 7-м и финальный "мат" Черному  Королю  не
противоречат законам игры (*2).</p>
<p>Новые слова в стихотворении "Бармаглот" вызвали  известные  разногласия
относительно их произношения; мне следует, очевидно, дать разъяснения и по
этому_пункту. "Хливкие" следует произносить с ударением на первом слоге;
"хрюкотали" - на третьем; а "зелюки" - на последнем".</p>
<p>Для шестьдесят первой тысячи  этого  издания  с  деревянных  форм  были
сделаны новые клише  <mark>(так  как  их  не  использовали  непосредственно  для
печати, они находятся в таком же отличном состоянии,  как  и  а  1871  г.,
когда их изготовили); <mark> вся  книга  была  набрана  новым  шрифтом.  Если  в
художественном отношении это переиздание в чем-либо будет  уступать  своим
предшественникам,  это  произойдет  не  по  вине  автора,   издателя   или
типографии.</p>
<p>Пользуюсь случаем уведомить публику, что "Алиса для детей", стоившая до
сего дня 4 шиллинга без обложки, продается сейчас на тех же условиях,  что
и обычные шиллинговые книжки с  картинками,  хоть  я  и  уверен,  что  она
превосходит их во всех  отношениях  <code>(за  исключением  самого  текста,  о
котором я не вправе судить)</code>. 4 шиллинга - это была цена  вполне  разумная,
если учесть, какие серьезные расходы повлекла для меня эта книга; впрочем,
раз Читатели говорят: </p>
<blockquote>"За книжку с картинками, как бы хороша она ни  была,
мы не желаем платить больше четырех шиллингов", - я согласен  списать  в
убыток свои расходы по ее изданию,  и,  чтобы  не  оставить  малышей,  для
которых она была написана, вовсе без нее, я продаю ее по такой  цене,  что
для меня равносильно тому, как если б я раздавал ее даром.
</blockquote>

<h3 align="center">Рождество 1896 г.</h3>
